@font-face {
    font-family: "iconfont"; /* Project id 3877072 */
    src: url('//at.alicdn.com/t/c/font_3877072_dy6i6ipbs4v.woff2?t=1675330934246') format('woff2'),
    url('//at.alicdn.com/t/c/font_3877072_dy6i6ipbs4v.woff?t=1675330934246') format('woff'),
    url('//at.alicdn.com/t/c/font_3877072_dy6i6ipbs4v.ttf?t=1675330934246') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-refresh:before {
    content: "\e61d";
}

.icon-arrow-left:before {
    content: "\e603";
}

.icon-arrow-right:before {
    content: "\e604";
}

.icon-close:before {
    content: "\e605";
}

.icon-search:before {
    content: "\e611";
}
