.bookmark-container {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;
}

.bookmark-item {
  margin: 10px 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  &:hover{
    opacity: 0.8;
    background: rgba(234, 229, 229, 0.8);
  }
}

.bookmark-item-img {
  width: 16px;
  height: 16px;
}

.bookmark-item-text {
  margin-left: 6px;
  font-size: 12px;
  color: #666666;
  font-weight: 500;
}
