.bookmark-container {
}

.bookmark-container-title {
  display: flex;
  align-items: center;
  height: 40px;

  .title-img {
    color: #65646f;
    margin: 0 5px 0 10px;
  }

  .title-text {
    color: #666666;
    font-size: 12px;
    font-weight: 500;
  }
}

.bookmark-list {
  max-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bookmark-item {
  background: #ddddf3;
  border-radius: 8px;
  width: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;

  &:hover {
    background: #cfcee3;
  }
}

.bookmark-item-img {
  margin: 10px 0;
  width: 16px;
  height: 16px;
}

.bookmark-item-text {
  margin-left: 6px;
  font-size: 12px;
  color: #666666;
  font-weight: 500;
}
