{
  "printWidth": 120,
  "useTabs": false,
  "singleQuote": true,
  "semi": true,
  "quoteProps": "consistent",
  "trailingComma": "none",
  "bracketSpacing": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}
