.button-bar-container {
  height: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-app-region: drag;

  .tool-icon-content {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .tool-icon {
      font-size: 22px;
      color: #65646f;
    }

    &:hover {
      background: #d4d3e9;
    }
  }
}
