.tool-container {
  height: 40px;
  width: 100%;
  display: flex;
  align-items: center;

  .tool-icon-content {
    margin-left: 5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .tool-icon {
      font-size: 18px;
    }

    &:hover {
      background: #e5eaea;
    }
  }
}

.tool-search {
  margin: 10px;
  height: 30px;
  width: 100%;
  background: #f1f3f4;
  border-radius: 13px;
  overflow: hidden;
}

.tool-search-input {
  flex: 1;
  height: 30px;
  border-radius: 15px;
  width: 100%;
  outline: none;
  text-decoration: none;
  border: none;
  padding: 0 25px;
  box-sizing: border-box;
  background: #f1f3f4;
  font-size: 14px;
  color: #404243;
}
